<div>
  <div ng-if="!vm.authData()" class="well">
    <h3>Admin login</h3>
    <div class="row">
      <div class="col-xs-6">
        <form name="loginForm" novalidate>
          <div class="form-group">
            <input ng-model="vm.email" type="email" id="email" name="email" class="form-control" placeholder="Email"/>
          </div>
          <div class="form-group">
            <input ng-model="vm.password" type="password" id="password" name="password" class="form-control"
                   placeholder="Password"/>
          </div>
          <div class="form-group">
            <input ng-click="vm.logIn(vm.email, vm.password)" type="submit" value="Log in" class="btn btn-success"/>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div ng-if="vm.authData()" class="well">
    <h3>Logged in as <strong ng-bind="vm.authData().password.email"></strong></h3>
    <button ng-click="vm.logOut()" class="btn btn-danger">Log out</button>
  </div>
</div>
